{% load widget_tweaks%}
<a href="{% url 'social:post' %}"><h5>See all comments</h5></a>
       <a href="{% url 'social:post' %}">home</a>
       <h2 style="color: purple;"><strong><center>ASK YOUR QUESTION</center></strong></h2>
<center>
        <form id="form" method="post" action="{% url 'social:ask' %}" enctype="multipart/form-data">
{% for field in form %}
     
       <b>{{ field.label_tag }}</b>
       {% render_field field class="form-control" %}
        {% if field.help_text %}
        {% endif %}
    <br><br>
{% endfor %}
            <!-- Provide a button to click to submit the form. -->
            <center><input type="submit" name="submit" value="Submit" /></center>
        </form>
       </center>