<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'social/base.html' %}

{% block body %}
<body style="background-image: url('http://research.seevogh.com/images/inside-background.jpg');">
{% load widget_tweaks %}
<h1 style="color: blue;"><center><br>Create Your Account</center></h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="{% url 'social:home' %}">Return to the homepage.</a><br />
        {% else %}
       <h2 style="color: purple;"><strong><center>register here!</center></strong></h2>

        <form id="user_form" method="post" action="/social/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

           
           <!--{{ user_form.as_p }}-->
           <!--  {{ profile_form.as_p }}-->
          
           <center><table>

{% for field in user_form %}
    	
         <tr>
       <td> <b>{{ field.label_tag }}</b> <br><br></td> 
       <td> {% render_field field class="form-control" %}<br><br></td>
        {% if field.help_text %}
        {% endif %}
      </tr>
   
{% endfor %}<br><br></table></center>
            <!-- Provide a button to click to submit the form. -->
            <center><input type="submit" name="submit" value="Register" /></center>
        </form>
        {% endif %}
      </div>
</body>
{% endblock %}
